<mat-toolbar color="primary" class="toolbar">
  <!-- Desktop Nav -->
  <span class="spacer"></span>
  <nav class="nav-links">
    <a mat-button routerLink="/protofolio" routerLinkActive="active-link">Portfolio View </a>
    <a mat-button routerLink="/audio" routerLinkActive="active-link">Audio Record</a>
  </nav>

  <!-- Mobile Menu Icon -->
  <mat-icon class="menu-icon" (click)="toggleMenu()">menu</mat-icon>
</mat-toolbar>

<!-- Mobile Nav (shown conditionally) -->
<nav class="mobile-menu" *ngIf="mobileMenuOpen">
  <a mat-button routerLink="/protofolio" routerLinkActive="active-link">Portfolio View </a>
  <a mat-button routerLink="/audio" routerLinkActive="active-link">Audio Record</a>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>